.cache/
.coverage/
.tox/
*.egg-info/
__pycache__/
jobs/.coverage
docs/_build/
.venv/
lambda.zip
settings.ini
.env
version.json
.bash_history
buildhub-lambda-*.zip
.docker-build
.metadata-*.json
csv-download-directory/
.records-hashes-kinto-build-hub-releases.json
.pytest_cache/
.manifest-*.json
