aiobotocore==0.5.2
aiohttp==2.3.0
async-timeout==2.0.0
backoff==1.4.3
botocore==1.7.40
certifi==2018.1.18
chardet==3.0.4
docutils==0.14
idna==2.6
jmespath==0.9.3
kinto-http==9.1.1
kinto-wizard==2.3.0
multidict==4.1.0
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.1
raven==6.5.0
requests==2.18.4
ruamel.yaml==0.15.35
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
wrapt==1.10.11
yarl==1.1.0
