body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sk-panel__content {
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 10px;
}

table a {
  text-decoration: none;
}

.sk-table td, .sk-table th {
  padding: .5em .5em;
}
