/* Buildhub custom styles */
.loader-wrapper {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
    border: 16px solid #999;
    border-top: 16px solid #666;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    Contact GitHub API Training Shop Blog About
